# Задача 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ratings.csv')

In [3]:
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [9]:
def class_rating(rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating <= 4:
        return 'Средний рейтинг'
    return 'Высокий рейтинг'

In [10]:
data['class'] = data['rating'].apply(class_rating)

In [11]:
data.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

# Задача 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т.е. если поисковый запрос содержит название города региона, то в столбце region пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим undefined.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
Результат классификации запишите в отдельный столбец region.

In [12]:
df = pd.read_csv('keywords.csv')

In [13]:
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [25]:
def geo(keyword):
    for region, city in geo_data.items():
        for el in city:
            if el in keyword:
                return region
    else:
        return 'undefined'

In [26]:
df['region'] = df['keyword'].apply(geo)

In [27]:
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [28]:
df['region'].value_counts().head()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

# Задача 3

**Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". 
Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия 
(файл ratings.csv из базы https://grouplens.org/datasets/movielens). 
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010. +

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. 
Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [2]:
import pandas as pd

In [3]:
data_movies = pd.read_csv('movies.csv')

In [4]:
data_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
# Задаем список из всех годов в переменную years

years = list(map(str, range(1950, 2011)))

In [14]:
# Функция для нахождения года в названии фильма

def find_film_year(title):
    for year in years:
        if year in title:
            return int(year)
    return 1990

In [15]:
data_movies['year'] = data_movies['title'].apply(find_film_year)

In [16]:
data_movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [17]:
data_rating = pd.read_csv('ratings.csv')

In [19]:
# Добавляем столбец с годом выпуска в датафрейм с рейтингами

data_rating["year"] = data_rating.merge(data_movies, on="movieId", how="left")["year"]

In [20]:
data_rating.head()

   userId  movieId  rating   timestamp  year
0       1       31     2.5  1260759144  1995
1       1     1029     3.0  1260759179  1990
2       1     1061     3.0  1260759182  1996
3       1     1129     2.0  1260759185  1981
4       1     1172     4.0  1260759205  1989

In [26]:
# Производим группировку по году с расчетом среднего рейтинга фильмов

year_rating = data_rating.groupby('year').agg({'rating': 'mean'}).sort_values(by='rating', ascending=False)

In [28]:
year_rating

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[61 rows x 1 columns]

**Ответ: предположение о снижение рейтинга фильма с ростом года выпуска - верно**